<!DOCTYPE html>

<html>
  <body>
        <h1>My {{ name_of_game }} Game!</h1>
    <form method="post" action ="">
         <h3>Enter a noun: <input type="text" name="noun1"/></h3>
         <h3>Enter an verb: <input type="text" name="verb1"/></h3>
         <h3>Enter an object:<input type="text" name="object1"/></h3>
         <h3>Enter a location:<input type="text" name="location1"/></h3>
         <h3>Enter a noun:<input type="text" name="noun2"/></h3>
         <h3>Enter a location:<input type="text" name="location2"/></h3>
         <h3>Enter a verb:<input type="text" name="verb2"/></h3>
         <h3>Enter an animal:<input type="text" name="animal"/></h3>
      <p><input type="submit" value="Submit"></p>
 </form>
  </body>
</html>
